#  .gitignore (XCSL-AArch64)
#  Cody Fagley
#  Authored on   January 29, 2019
#  Last Modified January 29, 2019

#
#  Contains ignore patterns for Git Repository
#


# Generated Flex/Bison files
lex.yy.c
xcsl.tab.c

# _build Directory
_build

#  Generated Assembly Test Files
tests/**/*.s
tests/**/*.o

*.chip.o

#  Generated Log Files
xcs.log

#  Generated Memory Leak Testing Files
vgcore*
